<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stuff Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <div id="app">
            <div class="row" id="stuffList">
                <div class="row">
                    <h3 class="col s4">Stuff list</h3>
                    <div class="input-field col s8">
                        <i class="material-icons prefix">search</i>
                        <input type="text" name="search" id="search">
                        <label for="search">Search</label>
                    </div>
                </div>
                <% if (stuff) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < stuff.length; i++) { %>
                            <tr data-id='<%- stuff[i].id %>'>
                                <td><%= stuff[i].name %></td>
                                <td><%= stuff[i].quantity %></td>
                                <td>
                                    <button onclick="confirmDeleteStuff(<%- stuff[i].id %>)" class="btn-small"><i class="material-icons right">delete</i>Delete</button>
                                </td>
                            <% } %>

                            </tr>
                        </tbody>
                    </table>
                <% }  else {%>
                    <p>No stuff yet!</p>
                <% } %>
            </div>
            <div class="row" id="stuffEdit">
                <h3>Add stuff</h3>
                <form class="col s12" action="/api/stuff/add" method="POST">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="name">Item Name:</label>
                            <input type="text" name="name" class="validate" data-length="32" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="quantity">Item Quantity:</label>
                            <input type="number" name="quantity" value=1 required>
                        </div>
                    </div>
                    <button id="stuffEditSubmit" class="btn" type="submit"><i class="material-icons right">send</i>Submit</button>
                </form>
            </div>
            <div class="modal deleteConfirm">
                <div class="modal-content">
                    <h4>Confirm delete</h4>
                    <p>Delete <span id="deleteConfirmStuff">stuff</span></p>
                </div>
                <div class="modal-footer">
                    <button class="modal-close btn-flat deleteConfirm">Ok</button>
                    <button class="modal-close btn-flat">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/formFetch.js"></script>

    <script>
        function repopulateTable(stuff){
            const table = document.querySelector("table");
            table.replaceChildren(); //clear table
            stuff.forEach( ({id, name, quantity}) => {
                var row = table.insertRow(-1);
                row.dataset.id = id;
                row.insertCell(0).innerHTML = name;
                row.insertCell(1).innerHTML = quantity;
                row.insertCell(2).innerHTML = `<button onclick="confirmDeleteStuff(${id})" class="btn-small"><i class="material-icons right">delete</i>Delete</button>`
            });
        }

        async function loadStuff() {
            try {
                let search = document.querySelector("#search").value;
                let endpoint =  search ? '/api/stuff/find/' + search : '/api/stuff/all' 
                let stuff = await fetch(endpoint).then(response => response.json());
                repopulateTable(stuff);
            } catch (err) {
                console.error(err);
            }
        }
        
        document.querySelector("form").addEventListener("submit",
            (event) => handleFormSubmit(event)
            .then(data => loadStuff()) // window.location.reload(true))
            .catch(err => console.error(err))
        );

        function confirmDeleteStuff(id) {
            const rowToDelete =  document.querySelector(`tr[data-id='${id}']`);            
            const modalMessage = document.querySelector("#deleteConfirmStuff");
            modalMessage.textContent = `${rowToDelete.cells[0].textContent} [${rowToDelete.cells[1].textContent}]`;
            const modal = M.Modal.init( document.querySelector(".modal.deleteConfirm"));
            modal.open();
            const modalOk = document.querySelector("button.deleteConfirm");
            modalOk.onclick = () => deleteStuff(id);
        }


        async function deleteStuff(id){
            try {
                let {affectedRows} = await fetch('/api/stuff/remove/' + id,{method:"delete"}).then(response => response.json());
                if (affectedRows == 1) {
                    const rowToDelete =  document.querySelector(`tr[data-id='${id}']`);            
                    rowToDelete.remove();
                } else if (affectedRows > 1)
                    loadStuff();
            } catch (err) {
                console.error(err);
            }
        }

        document.querySelector("#search").addEventListener("change", loadStuff)
    </script>

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>
</html>